<div class="section">
	<h2 class="text">Featured</h2>
	<p class="text">Explore our current list of trending games.</p>
	<div class="card-container">
		<div class="card-bottom-section">
			<div class="carousel">
				@for (var i = 0; i < pcGamesToShow.Count; i++)
				{
					var path = $"/Picture/{imagesPC[i]}";
					var localIndex = i;
					<div class="carousel-item @(currentIndexPC == i ? "active" : "")">
						<div class="card-body-bottom" @onclick="@( () => HandleCardClick(pcGamesToShow[localIndex].itemID))">
							<h4>PC</h4>
							<img src="@path" alt="image @i" class="image"/>
							<h4 class="game-name">@pcGamesToShow[localIndex].gameName</h4>
							<p class="game-genre">@pcGamesToShow[localIndex].genre</p>
							<p class="game-price">€ @pcGamesToShow[localIndex].price</p>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="card-bottom-section">
			<div class="carousel">
				@for (var i = 0; i < psGamesToShow.Count; i++)
				{
					var path = $"/Picture/{imagesPS[i]}";
					var localIndex = i;
					<div class="carousel-item @(currentIndexPS == i ? "active" : "")">
						<div class="card-body-bottom" @onclick="@( () => HandleCardClick(psGamesToShow[localIndex].itemID))">
							<h4>PS</h4>
							<img src="@path" class="image" />
							<h4 class="game-name">@psGamesToShow[localIndex].gameName</h4>
							<p class="game-genre">@psGamesToShow[localIndex].genre</p>
							<p class="game-price">€ @psGamesToShow[localIndex].price</p>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="card-bottom-section">
			<div class="carousel">
				@for (var i = 0; i < xboxGamesToShow.Count; i++)
				{
					var path = $"/Picture/{imagesXBOX[i]}";
					var localIndex = i;
					<div class="carousel-item @(currentIndexXBOX == i ? "active" : "")">
						<div class="card-body-bottom" @onclick="@( () => HandleCardClick(xboxGamesToShow[localIndex].itemID))">
							<h4>XBOX</h4>
							<img src="@path" class="image" />
							<h4 class="game-name">@xboxGamesToShow[localIndex].gameName</h4>
							<p class="game-genre">@xboxGamesToShow[localIndex].genre</p>
							<p class="game-price">€ @xboxGamesToShow[localIndex].price</p>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@code {
	[Parameter]
	public List<Item> pcGamesToShow { get; set; }

	[Parameter]
	public List<Item> xboxGamesToShow { get; set; }

	[Parameter]
	public List<Item> psGamesToShow { get; set; }
	private string[] imagesPC = new string[] { "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg", "PC_1.jpg", "PC_2.jpg" };
	private string[] imagesPS = new string[] { "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp", "PS_1.jpg", "PS_2.webp" };
	private string[] imagesXBOX = new string[] { "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg", "XBOX_1.jpg", "XBOX_2.jpg"};

	public int currentIndexPC = 0;
	public int currentIndexPS = 0;
	public int currentIndexXBOX = 0;
	public int currentIndexImages = 0;
	private System.Timers.Timer timer;

	protected override void OnInitialized()
	{
		timer = new System.Timers.Timer(8000);
		timer.Elapsed += TimerElapsed;
		timer.Start();
	}
	private void HandleCardClick(int gameID)
	{
		NavigationManager.NavigateTo($"/product/{gameID}");
	}
	private void TimerElapsed(object sender, System.Timers.ElapsedEventArgs e)
	{
		NextGame();
		InvokeAsync(StateHasChanged);
	}

	private void NextGame()
	{
		currentIndexPC = (currentIndexPC + 1) % pcGamesToShow.Count;
		currentIndexPS = (currentIndexPS + 1) % psGamesToShow.Count;
		currentIndexXBOX = (currentIndexXBOX + 1) % xboxGamesToShow.Count;
		currentIndexImages = (currentIndexImages + 1) % imagesPC.Length;
	}
}