@page "/"
@using DomainModels
@using Service
@inject List<PC_Game> allPCGames
@inject NavigationManager NavigationManager

<PageTitle>Gamers Lounge</PageTitle>

<div class="section">
	<div class="container text-center">
		<div class="row">
			<div class="left-colum">
				<h2 class="header-top-section">Buy and Sell Used Video Games</h2>
				<p>Discover a wide selection of pre-owned video games and console. Start buying or selling today.</p>
				<a href="" class="btn btn-dark">Start</a>
				<a href="" class="btn btn-dark">Learn More</a>
			</div>
			<div class="right-colum">
				<img src="./Picture/Temp_Picture.jpg" alt="" class="colum-image" />
			</div>
		</div>
	</div>
</div>

<div class="section">
	<h2 class="text">Find Your Favorite Games at Great Prices</h2>
	<p class="text">
		Our platform offers a wide selection af used video games, ensuring you can find your favorite
		titles at affordable prices. With secure payment options and user rating, you can buy with confidence.
	</p>

	<div class="card-container">

		<div class="card-middle-section">
			<div class="card-body">
				<img src="logo.png" class="logo" />
				<h3 class="card-title">Wide Game Selection</h3>
				<p class="card-text">Browse through a vast collection of games.</p>
			</div>
		</div>
		<div class="card-middle-section">
			<div class="card-body">
				<img src="logo.png" class="logo" />
				<h3 class="card-title">Secure Payment</h3>
				<p class="card-text">Shop with peace of mind knowing your transactions are secure.</p>
			</div>
		</div>
		<div class="card-middle-section">
			<div class="card-body">
				<img src="logo.png" class="logo" />
				<h3 class="card-title">User Ratings</h3>
				<p class="card-text">Make informed purchasing decisions with ratings and reviews.</p>
			</div>
		</div>
	</div>
	<div class="button-container-middle-section">
		<a href="" class="btn btn-dark">Learn More</a>
		&nbsp; @*Gives a standard space between the anchors*@
		<a href="" class="btn btn-dark">Sign Up</a>
	</div>
</div>

<div class="section">
	<h2 class="text">Featured</h2>
	<p class="text">Explore our current list of trending games.</p>

	<div class="card-container">
		<div class="card-bottom-section">
			<div class="card-body-bottom" @onclick="@( () => HandleCardClick(pcGames[1].itemID) )">
				<h4>PC</h4>
				<img src="./Picture/Temp_Picture.jpg" class="image" />
				<h4 class="game-name">@pcGames[1].gameName</h4>
				<p class="game-genre">@pcGames[1].genre</p>
				<p class="game-price">€ @pcGames[1].price</p>
			</div>
		</div>
		@* <div class="card-bottom-section">
			<div class="card-body-bottom" @onclick="@( () => HandleCardClick((gameToShow[1].itemID-1)) )">
				<h4>PS</h4>
				<img src="./Picture/Temp_Picture.jpg" class="image" />
				 <h4 class="game-name">@gameToShow[1].gameName</h4>
				<p class="game-genre">@gameToShow[1].genre</p>
				<p class="game-price">€ @gameToShow[1].price</p>
			</div>
		</div>
		<div class="card-bottom-section">
			<div class="card-body-bottom" @onclick="@( () => HandleCardClick((gameToShow[2].itemID-1)) )">
				<h4>XBOX</h4>
				<img src="./Picture/Temp_Picture.jpg" class="image" />
				<h4 class="game-name">@gameToShow[2].gameName</h4>
				<p class="game-genre">@gameToShow[2].genre</p>
				<p class="game-price">€ @gameToShow[2].price</p>
			</div>
		</div>  *@
	</div>
</div>

@code {
	public List<Item> gamesToShow;
	public List<DomainModels.PC_Game> pcGames;
	public List<XBOX_Game> xboxGames;
	public List<PS_Game> psGames;

	protected override void OnInitialized()
	{
		pcGames = allPCGames;
		gamesToShow = null;
	}

	private void HandleCardClick(int gameID)
	{
		NavigationManager.NavigateTo($"/product/{gameID}");
	}

	// public List<PC_Game> FiltreToPC_Games(List<PC_Game> data)
	// {
	// 	List<PC_Game> pcGames = new List<PC_Game>();

	// 	foreach (var game in data)
	// 	{
	// 		if (game is PC_Game pcGame)
	// 		{
	// 			pcGames.Add(pcGame);
	// 		}
	// 	}
	// 	return pcGames;
	// }

	// public List<XBOX_Game> FiltreToXBOX_Games(List<Item> data)
	// {
	// 	List<XBOX_Game> xboxGames = new List<XBOX_Game>();

	// 	foreach (var game in data)
	// 	{
	// 		if (game is XBOX_Game xboxGame)
	// 		{
	// 			xboxGames.Add(xboxGame);
	// 		}
	// 	}
	// 	return xboxGames;
	// }

	// public List<PS_Game> FiltreToPS_Games(List<Item> data)
	// {
	// 	List<PS_Game> psGames = new List<PS_Game>();

	// 	foreach (var game in data)
	// 	{
	// 		if (game is PS_Game psGame)
	// 		{
	// 			psGames.Add(psGame);
	// 		}
	// 	}
	// 	return psGames;
	// }
}